@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f4f4f2;
    --type-color: #373a40;
    --type-color-light: #ddd;
    --nav-hover-bg: rgba(255, 255, 255, 1);
  }
  .notion-navbar {
    background: rgba(244, 244, 242, 0.2) !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #373a40;
    --type-color: #f4f4f2;
    --type-color-light: #777;
    --nav-hover-bg: rgba(0, 0, 0, 0.2);
  }
  .notion-navbar {
    background: rgba(55, 58, 64, 0.2) !important;
  }
}

:root {
  --accent-color: #f05454;
  --accent-color-alt: #697eff;
  --color-bg-default: var(--bg-color) !important;
  --color-text-default: var(--type-color) !important;
  --color-text-default-light: var(--type-color-light) !important;
}

* {
  text-decoration: none !important;
  outline: none !important;
}

.notion-collection__header,
.notion-collection-card__content,
.notion-property__title__icon-wrapper {
  display: none !important;
}

.super-content {
  padding-bottom: 10vh !important;
}

.notion-navbar {
  -webkit-backdrop-filter: blur(15px) !important;
  backdrop-filter: blur(15px) brightness(110%) !important;
  height: 50px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.notion-navbar a.notion-breadcrumb__item:hover {
  background-color: var(--nav-hover-bg) !important;
}

.notion-navbar a.notion-breadcrumb__item:last-child {
  color: var(--accent-color) !important;
}

.max-width {
  max-width: 1080px !important;
}

.notion-header {
  display: none !important;
}

.notion-header__icon {
  border-radius: 12px !important;
}

.notion-header__icon-wrapper.has-icon-image {
  margin: 11px 0 11px 0 !important;
}

h1,
h2 {
  font-family: "Playfair Display", serif !important;
  font-weight: 700 !important;
  color: var(--type-color) !important;
}

h1 {
  color: var(--accent-color) !important;
}

h2 {
  line-height: 1.6 !important;
  margin-top: 0 !important;
  font-size: 1.7rem !important;
}

h3.notion-heading {
  text-align: right !important;
  white-space: nowrap !important;
}

@media only screen and (max-width: 680px) {
  h3.notion-heading {
    text-align: left !important;
  }
}

h3.notion-heading .notion-semantic-string span {
  color: var(--accent-color) !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  background: var(--nav-hover-bg) !important;
  border-radius: 20px !important;
  padding: 6px 12px !important;
  font-size: 16px !important;
  text-transform: uppercase !important;
}

p {
  font-size: 20px !important;
  font-family: "Alice", serif !important;
  font-weight: 400 !important;
}

p .notion-link {
  border-bottom: 1px solid var(--accent-color) !important;
  opacity: 1 !important;
  transition: all ease-in .1s !important;
}

p .notion-link:hover {
  color: var(--accent-color) !important;
  padding-bottom: 2px;
}

.notion-collection-gallery {
  /*grid-template-columns: 1fr 1fr !important;*/
  grid-gap: 0px 40px !important;
  border: none !important;
  transform: rotate(0.0rad);
  padding-top: 0 !important;
}

.notion-collection-card {
  overflow: visible !important;
  box-shadow: none !important;
  z-index: 10 !important;
}

.notion-collection-card:hover {
  background: none !important;
  z-index: 100 !important;
}

.notion-collection-card__cover {
  transition: all 0.2s ease !important;
  border-radius: 12px !important;
  height: 280px !important;
  z-index: 10 !important;
  box-shadow: 0 0 0 1px rgba(15,15,15,.1), 0 2px 4px rgba(15,15,15,.1);
}

.notion-collection-card:hover .notion-collection-card__cover {
  box-shadow: 0px -15px 70px -20px rgba(0, 0, 0, 0.5) !important;
  transform: perspective(200px) rotateX(-3deg) rotateZ(4deg) scale(1.07) translate(-10px,-30px);
  background: none !important;
  z-index: 100 !important;
}

.notion-collection-card .notion-property__title {
  top: -35px !important;
  position: relative !important;
  z-index: -1 !important;
  padding: 8px 20px !important;
}

.notion-collection-card .notion-property__title .notion-semantic-string {
  font-family: "Playfair Display", serif !important;
  font-size: 20px !important;
  color: var(--accent-color);
  font-weight: 600 !important;
  line-height: 1 !important;
}


.notion-collection-card__cover,
.notion-collection-card__cover div,
.notion-collection-card__cover img {
  border-radius: 40px !important;
  max-height: 360px !important;
  overflow: hidden !important;
  height: 280px !important;
  border: none !important;
}

.notion-image {
  border-radius: 40px !important;
  overflow: hidden !important;
}

.notion-image div {
  display: block !important;
}

.notion-divider {
  border-bottom: 1px solid var(--color-bg-brown) !important;
}

/* Home Kerosen */
#block-962ebfcfaf8244fca2b0b3196d358435 {
  position: relative !important;
}

#block-962ebfcfaf8244fca2b0b3196d358435 .notion-image {
  min-width: 120px !important;
  border-radius: 0 !important;
}

#block-962ebfcfaf8244fca2b0b3196d358435 blockquote {
  font-family: 'Gamja Flower', sans-serif !important;
  font-weight: 400 !important;
  font-size: 30px !important;
  color: var(--accent-color-alt) !important;
  border-left: none !important;
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block !important;
  width: 200px !important;
  position: absolute !important;
  top: -15px !important;
  left: 90px;
  transform: rotateZ(-10deg);
}

#block-962ebfcfaf8244fca2b0b3196d358435 blockquote .notion-semantic-string {
  white-space: nowrap;
}

#block-962ebfcfaf8244fca2b0b3196d358435 blockquote:before {
  content: "ノ";
  font-size: 24px;
  font-weight: 400;
  color: var(--accent-color-alt);
  opacity: 0.5 !important;
  position: absolute;
  top: 28px;
  left: -5px;
}

/* Links */
#block-d675ca87a3f2413b9a5a8eabbeb423e7 .notion-text a {
  display: inline-block;
  margin: 10px 0;
  position: relative;
  border: 0 !important;
  padding-left: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

#block-d675ca87a3f2413b9a5a8eabbeb423e7 .notion-text a:hover {
  color: #fff !important;
  padding-left: 42px;
  padding-bottom: 0px !important;
}

#block-d675ca87a3f2413b9a5a8eabbeb423e7 .notion-text a:before {
  content: "";
  color: #fff !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 100 !important;
  font-size: 24px;;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  padding: 2px 0;
  text-align: left;
  border-radius: 12px;
  position: absolute;
  left: 0px;
  top: -8px;
  z-index: -1;
  width: 30px;
  transition: all ease-in .1s !important;
}

#block-d675ca87a3f2413b9a5a8eabbeb423e7 .notion-text a:before {
  padding-left: 10px;
}

#block-d675ca87a3f2413b9a5a8eabbeb423e7 .notion-text a:hover:before {
  width: 100% !important;
}

#block-d675ca87a3f2413b9a5a8eabbeb423e7 .notion-text:first-child a:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
  background: #1da1f1;
}

#block-d675ca87a3f2413b9a5a8eabbeb423e7 .notion-text:first-child a:hover:before {
  box-shadow: 0 5px 20px -10px #1da1f1;
}

#block-d675ca87a3f2413b9a5a8eabbeb423e7 .notion-text:nth-child(2) a:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
  background:
      radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
      radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
      /* left top */
      radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
      radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
      /*  right top */
      radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
      radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
      /* right bottom */
      radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
      /* create a base coat to smooth */
      /* corner gradients */
      linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

#block-d675ca87a3f2413b9a5a8eabbeb423e7 .notion-text:nth-child(2) a:hover:before {
  box-shadow: 0 5px 20px -10px #d9317a;
}

#block-d675ca87a3f2413b9a5a8eabbeb423e7 .notion-text:nth-child(3) a:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0e1";
  background: #0a66c2;
}

#block-d675ca87a3f2413b9a5a8eabbeb423e7 .notion-text:nth-child(3) a:hover:before {
  box-shadow: 0 5px 20px -10px #0a66c2;
}
